Pipfile.lock
*.log
test.*
flyers/.settings.ini
flyers/__pycache__
flyers/yorkmart/__pycache__
flyers/meatmeet/__pycache__
flyers/gyomusuper/__pycache__
flyers/welcia/__pycache__
flyers/supervalue/__pycache__

