[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
bs4 = "*"
gitpython = "*"
phantomjs = "*"
pillow = "*"
requests = "*"
selenium = "*"
chromedriver-binary = "==91.0.4472.101"

[requires]
python_version = "3.8"
